@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Open+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;
$font-login-label:'Open Sans, Semibold',sans-serif;

$base-font-size: 18px;

;