@import "../../scss/settings/fonts";
@import "../../scss/settings/colors";
@import "../../scss/utils/functions";
@import "../../scss/utils/mixin";




.header__section {
  height: px-to-rem(963px);
  width: px-to-rem(1758px);
}

.hero{

  &__img {
    height: px-to-rem(963px);
    width: px-to-rem(1100px);
    top: 0;
    margin-left: px-to-rem(-355px);
    background: transparent no-repeat padding-box;
    opacity: 1;
  }
}
.topMenu {
  @include flex(flex-end);
  gap: px-to-rem(20px);
  margin-top: px-to-rem(20px);
  margin-right: px-to-rem(49px);
  text-align: right;

  &__item {
    text-decoration: none;
    padding-top: px-to-rem(9px);
    padding-bottom: px-to-rem(9px);

  }

  &__login {
    font-size: px-to-rem(14px);
    font-family: $font-base;
    color: $color-grey-two;

  }

  &__add {
    font-size: px-to-rem(14px);
    font-family: $font-base;
    color: $color-grey-two;
    border: 0.75px solid $color-yellow;
    opacity: 1;
    padding: px-to-rem(9px) px-to-rem(10px);
  }
}

.navigation {
  @include flex(flex-end);
  text-align: right;
  gap: px-to-rem(20px);
  margin-right: px-to-rem(50px);


  &__item {

    a {
      font-size: $base-font-size;
      font-family: $font-base;
      font-weight: 400;
      color: $color-dark-grey;
      letter-spacing: -0.36px;
      opacity: 1;
      margin-top: px-to-rem(25px);
      transition: all 400ms ease-in-out;
      box-sizing: border-box;
      text-decoration: none;
      display: inline-block;
      border: solid px-to-rem(1px) transparent;
      margin-inline: 15px;
    }


    a:hover {
      border-bottom: 0.75px solid $color-dark-grey;
      opacity: 1;
      text-decoration: none;
    }
  }

  &__item--active:after {
    opacity: 0;
    //padding: px-to-rem(9px) px-to-rem(20px);
    content: "";
  }
}

  .intro {
    position: relative;

    &__info {
      font-family: $font-base;
      font-size: px-to-rem(38px);
      color: $color-dark-grey;
      font-weight: 400;
      text-align: center;
      letter-spacing: -0.85px;
      opacity: 1;
      margin-top: px-to-rem(220px);
      margin-right: px-to-rem(200px);
      margin-left: px-to-rem(890px);
      height: px-to-rem(107px);
      line-height: 1.5em;


    }

    &__img {
      position: absolute;
      @include flex(center);
      align-items: center;
      margin-top: px-to-rem(10px);
      margin-left: px-to-rem(1115px);
      height: px-to-rem(33px);
      opacity: 1;
      background: transparent no-repeat padding-box;
    }

  }

  .btn {
    @include flex(center);
    gap: px-to-rem(44px);
    margin-right: px-to-rem(20px);


    &__btn {
      margin-top: px-to-rem(120px);
      margin-bottom: px-to-rem(271px);
      font-size: px-to-rem(36px);
      font-family: $font-base;
      font-weight: 300;
      color: $color-dark-grey;
      opacity: 1;
      text-align: center;
      text-decoration: none;


      &-return {
        border: px-to-rem(0.75px) solid $color-dark-grey;
        height: px-to-rem(100px);
        width: px-to-rem(100px);
        opacity: 1;
        background-color: white;
        padding: px-to-rem(20px) px-to-rem(90px);
        margin-left: px-to-rem(7px);

      }

      &-organize {
        border: px-to-rem(0.75px) solid $color-dark-grey;
        height: px-to-rem(100px);
        width: px-to-rem(200px);
        opacity: 1;
        background-color: white;
        padding: px-to-rem(20px) px-to-rem(40px);
        margin-left: px-to-rem(7px);

      }
    }
  }
