@import "settings/fonts";
@import "settings/colors";
@import "utils/functions";
@import "utils/mixin";

.aboutUs {
  max-width:100%;
  height: px-to-rem(935px);
  margin-top: px-to-rem(250px);
  background-color: $color-light_second-grey;
  @include flex(space-between, center);


  .desc {
    width: 50%;
    height: px-to-rem(835px);

    &__content {
      text-align: center;
      font-family: $font-base;
      font-weight: 300;
      margin: auto;




      .hdl {
        @include flex(center);
        text-align: center;
        flex-grow: 1;
        font-size: px-to-rem(38px);
        letter-spacing: -0.76px;
        opacity: 1;
        margin-top: px-to-rem(150px);
        color: $color-dark-grey;
        font-weight: 300;
      }

      .img {
        margin-top: px-to-rem(5px);
        width: px-to-rem(253px);
        height: px-to-rem(33px);
      }

      .info {
        @include flex(center, wrap);
        text-align: center;
        letter-spacing: -0.6px;
        font-size: px-to-rem(30px);
        margin-top: px-to-rem(59px);
        margin-inline: 150px;
        line-height: 3.0rem;
        width: auto;
        height: auto;


      }

      .imgSignature {
        justify-items: flex-end;
        align-content: flex-end;
        width: px-to-rem(209px);
        height: px-to-rem(148.84px);
        text-align: right;
        margin-left: px-to-rem(550px);

      }
    }
  }


  .bgimg {
    overflow-x: hidden;


    &__img {
      @include flex(flex-end);
      background: transparent no-repeat;
      opacity: 1;
      margin-right: px-to-rem(-370px);





    }

  }
}



