@import "settings/fonts";
@import "settings/colors";
@import "utils/functions";
@import "utils/mixin";

.contact__section {
  margin-top: px-to-rem(200px);
  height: px-to-rem(1100px);
  width: 100%;
  position: relative;


  .contact__img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -42;
    opacity: 0.2;
    margin-top: px-to-rem(80px);

  }

  .box__right {;
    @include flex(flex-end, center, column);
    //margin-top: px-to-rem(200px);
    margin-top: auto;
    margin-right: px-to-rem(52px);
    margin-left: px-to-rem(1150px);


    &--hdl {
      font-family: $font-base;
      font-size: px-to-rem(38px);
      font-weight: 400;
      color: $color-dark-grey;
      letter-spacing: px-to-rem(-0.76px);
      opacity: 1;
      text-align: center;
      margin-top: px-to-rem(270px);


    }

    &--decoration {
      margin-top: px-to-rem(20px);
      width: px-to-rem(253px);
      height: px-to-rem(33px);
      opacity: 1;


    }
  }


  .contact__form {
    margin-top: px-to-rem(77px);
    gap: px-to-rem(40px);
    margin-left: auto;
    margin-right: auto;
    max-width: px-to-rem(1200px);
    width: 100%;


    &--group {
      @include flex(flex-end, center, row);
      gap: px-to-rem(20px);
      width: px-to-rem(256px);
      height: px-to-rem(62px);
      margin-left: px-to-rem(1100px);


      &--1 {


        &--label {
          font-family: $font-login-label;
          text-align: left;
          font-size: px-to-rem(16px);
          color: $color-dark-grey;
          font-weight: 600;
          opacity: 1;
        }


        &--in {
          margin-top: px-to-rem(12px);
          margin-bottom: px-to-rem(4px);
        }
        ::-webkit-input-placeholder { /* Edge */
          color:$color-light-grey;
        }

      }
    }

    &--msg {
      @include flex(center, flex-start, column);
      margin-top: px-to-rem(40px);


      &--label2 {
        font-family: $font-login-label;
        text-align: left;
        font-size: px-to-rem(16px);
        color: $color-dark-grey;
        opacity: 1;
        font-weight: 600;
        margin-left: px-to-rem(970px);
      }

      &--in2 {
        margin-top: px-to-rem(10px);
        margin-bottom: px-to-rem(4px);
        resize: none;
        color: $color-dark-grey;
        margin-left: px-to-rem(969px);

      }
      ::-webkit-input-placeholder { /* Edge */
        color:$color-light-grey;
      }

    }


  }

  .contact__btn {
    @include flex(flex-end);
    position: relative;
    border: px-to-rem(0.75px) solid $color-dark-grey;
    opacity: 1;
    font-family: $font-base;
    font-size: $base-font-size;
    font-weight: 300;
    color: $color-black;
    text-align: left;
    width: px-to-rem(150px);
    height: px-to-rem(50px);
    padding: px-to-rem(13px) px-to-rem(52px);
    background-color: $base-color-primary;
    margin-top: px-to-rem(60px);
    margin-left: px-to-rem(1330px);

  }


  .footer {
    @include flex(space-around);
    margin-top: px-to-rem(270px);
    gap: px-to-rem(568px);


    &__copyright {
      @include flex(center);
      margin-bottom:px-to-rem(22px);
      margin-left: px-to-rem(950px);

      &--text {
        width: px-to-rem(235px);
        height: px-to-rem(24px);
        font-weight: 400;
        font-size:$base-font-size;
        font-family:$font-base;
        color: $color-dark-grey;
        text-align: right;
        opacity: 1;


      }


    }

    &__icons {
      @include flex(flex-end);
      gap: px-to-rem(20px);
      margin-bottom: px-to-rem(19px);
      margin-right: px-to-rem(145px);

      &--icon {
       width: px-to-rem(30px);
        height: px-to-rem(30px);
      }
    }
  }

  .error-message{
    color: red;
    font-family:$font-base;
    font-size: px-to-rem(11px);
    font-weight: 400;
  }


}

