@import "settings/fonts";
@import "settings/colors";
@import "utils/functions";
@import "utils/mixin";


.login__section {
  width: auto;
  height: 946px;
  background: $base-color-primary no-repeat padding-box;
  opacity: 1;


  .login__menu {
    @include flex(flex-end);
    gap: px-to-rem(20px);
    margin-top: px-to-rem(20px);
    margin-right: px-to-rem(49px);
    text-align: right;

    &--item {
      text-decoration: none;
      padding-top: px-to-rem(9px);
      padding-bottom: px-to-rem(9px);

    }

    &--login {
      font-size: px-to-rem(14px);
      font-family: $font-base;
      color: $color-grey-two;
    }

    &--register {
      font-size: px-to-rem(14px);
      font-family: $font-base;
      color: $color-grey-two;
      border: 0.75px solid $color-yellow;
      opacity: 1;
      padding: px-to-rem(9px) px-to-rem(10px);
    }

  }


  .login__nav {
    @include flex(flex-end);
    text-align: right;
    gap: px-to-rem(20px);
    margin-right: px-to-rem(50px);

    a {
      font-size: $base-font-size;
      font-family: $font-base;
      font-weight: 300;
      color: $color-dark-grey;
      letter-spacing: -0.36px;
      opacity: 1;
      margin-top: px-to-rem(25px);
      transition: all 400ms ease-in-out;
      box-sizing: border-box;
      text-decoration: none;
      display: inline-block;
      border: solid px-to-rem(1px) transparent;
      margin-inline: px-to-rem(17px);
      padding: px-to-rem(9px)  px-to-rem(5px)  px-to-rem(9px)  px-to-rem(5px);


    }

    a:hover {
      border: px-to-rem(0.75px) solid $color-dark-grey;
      opacity: 1;
      text-decoration: none;
      cursor: pointer;

    }

    &__item--active:after {
      opacity: 0;
      content: "";
    }
  }

  .container {
    @include flex(center, center, column);
    margin-top: px-to-rem(123px);

    .login__container {
      @include flex(center, center, column);


      &--title {
        font-family: $font-base;
        font-size: px-to-rem(40px);
        color: $color-dark-grey;
        text-align: center;
        font-weight: 200;
        width: px-to-rem(250px);
        height: px-to-rem(55px);
      }

      &--img {
        margin-top: px-to-rem(2px);
        width: px-to-rem(253px);
        height: px-to-rem(33px);
      }
    }

    .login__form {
      @include flex(center, center, column);
      background: $color-light_second-grey 0% 0% no-repeat padding-box;
      width: px-to-rem(395px);
      height: px-to-rem(245px);
      margin-top: px-to-rem(80px);

      &--label {
        font-family:$font-login-label;
        text-align: left;
        font-weight: 400;
        color: $color-dark-grey;
        margin: px-to-rem(10px) px-to-rem(345px) px-to-rem(10px) px-to-rem(67.25px);


      }

      &--in {
        margin-right: px-to-rem(67.25px);
        border: transparent;
        border-bottom: px-to-rem(1px) solid $color-dark-grey;
        height: px-to-rem(20px);
        background-color:$color-light_second-grey;
        width: px-to-rem(250px);


      }
    }

    .login__btn {

      margin-top: px-to-rem(370px);
      position: absolute;


      &--addAccount {
        position: relative;
        margin-right: px-to-rem(293px);
        font-family:$font-base;
        font-size:$base-font-size;
        font-weight: 200;
        color: $color-black;
        text-align: left;
        background-color: white;
        border: transparent;
        text-decoration: none;


      }

      &--LoggIn {
        font-family:$font-base;
        font-size:$base-font-size;
        font-weight: 200;
        color: $color-black;
        text-align: left;
        background-color: white;
        border: px-to-rem(0.75px) solid $color-dark-grey;
        width: px-to-rem(120px);
        height: px-to-rem(50px);
        padding: px-to-rem(13px) px-to-rem(8px);
      }

      }

    }



  .error-message__email{
    color: red;
    font-family:$font-login-label;
    font-size: px-to-rem(12px);
    font-weight: 500;
    margin-right: px-to-rem(185px);
  }

  .error-message__password{
    color: red;
    font-family:$font-login-label;
    font-size: px-to-rem(12px);
    font-weight: 500;
    margin-right: px-to-rem(120px);

  }


  }

